#cloud-config

hostname: fuzz-0
manage_etc_hosts: true
users:
  # kali
  #- default
  - name: cisco
    gecos: cisco
    shell: /bin/bash
    plain_text_passwd: cisco
    groups: [adm, audio, cdrom, dialout, floppy, plugdev, sudo, video, dip, netdev, bluetooth, lpadmin]
    lock_passwd: false

runcmd:
  - set -x
  - ifdown eth0 && ifup eth0
  # HACK cmm , integrate
  - rm /etc/systemd/system/networking.service.d/timeout.conf
  # Change ownership of /home/cisco to cisco
  - chown -R cisco:cisco /home/cisco
  - dpkg-reconfigure -f noninteractive xorg
  - systemctl enable --now getty@ttyS1

#bootcmd:
#  - true

write_files:
  # Enable IPv4 static and SLAAC on eth0
  - path: /etc/network/interfaces.d/eth0
    content: |
      auto eth0
      iface eth0 inet static
        address 10.1.1.2
        netmask 255.255.255.0
        gateway 10.1.1.1
        dns-nameserver 10.1.1.5
        dns-search pod.becomingahacker.com

      iface eth0 inet6 auto

  # Auto-login cisco user for VNC/desktop (e.g. CML console)
  - path: /etc/lightdm/lightdm.conf.d/50-autologin-cisco.conf
    content: |
      [Seat:*]
      autologin-user=cisco
      autologin-user-timeout=0

  # Disable screensaver and lock screen in VNC session (no autolock)
  - path: /home/cisco/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-screensaver.xml
    content: |
      <?xml version="1.0" encoding="UTF-8"?>
      <channel name="xfce4-screensaver" version="1.0">
        <property name="saver-enabled" type="bool" value="false"/>
        <property name="lock-enabled" type="bool" value="false"/>
      </channel>

  # Disable lock on suspend/hibernate so VNC session is not locked
  - path: /home/cisco/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
    content: |
      <?xml version="1.0" encoding="UTF-8"?>
      <channel name="xfce4-power-manager" version="1.0">
        <property name="xfce4-power-manager" type="empty">
          <property name="lock-screen-suspend-hibernate" type="bool" value="false"/>
        </property>
      </channel>

  # Prevent light-locker from starting (used with LightDM; would otherwise autolock)
  - path: /home/cisco/.config/autostart/light-locker.desktop
    content: |
      [Desktop Entry]
      Type=Application
      Name=Screen Locker
      Hidden=true

  # Change the screen resolution to 1440x900 for more room
  - path: /home/cisco/.config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
    content: |
      <?xml version="1.0" encoding="UTF-8"?>
      
      <channel name="displays" version="1.0">
        <property name="ActiveProfile" type="string" value="Default"/>
        <property name="Default" type="empty">
          <property name="Virtual-1" type="string" value="Virtual-1">
            <property name="Active" type="bool" value="true"/>
            <property name="EDID" type="string" value=""/>
            <property name="Resolution" type="string" value="1440x900"/>
            <property name="RefreshRate" type="double" value="59.887445342162557"/>
            <property name="Rotation" type="int" value="0"/>
            <property name="Reflection" type="string" value="0"/>
            <property name="Primary" type="bool" value="true"/>
            <property name="Scale" type="empty">
              <property name="X" type="double" value="1"/>
              <property name="Y" type="double" value="1"/>
            </property>
            <property name="Position" type="empty">
              <property name="X" type="int" value="0"/>
              <property name="Y" type="int" value="0"/>
            </property>
          </property>
        </property>
        <property name="Notify" type="int" value="1"/>
      </channel>
