# Becoming a Hacker Foundations - Lab Guide
<div class="foo">
<br>
<ul>
<h2><li><a href="https://training.becomingahacker.com/" target="_blank">Lab Modules</a></h2>
Hold down Command or Control and click to open in a new tab
</ul>
</div>